* {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.box{
  width: 100%;
  overflow: none;
}

.content-title{
  overflow: none;
  text-align: center;
  border: 3px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 36px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 3%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color: #A9A9A9 ;
}

.title1{
  background-color: #F08080;
}

.title2{
  color: white;
  background-color: #C14543;
}
.title3{
  background-color: #E5D198;
}


/********** Large(desktop) devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}
/********** Medium(tablet) devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  
}
/********** small(mobile) devices only **********/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  .content-title{
    margin-right: 30px;
  }
}